@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0px;
  font-family: "Roboto Condensed", sans-serif;
  color: white;
}

/*Main section start form here*/
.Contact_heading {
  width: 80%;
  height: 100px;
  margin: 25px auto;
  font-family: "Poppins", sans-serif;
}

.Contact_heading,
h1 {
  color: rgb(0, 0, 0);
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.Contact_heading,
p {
  color: rgb(0, 0, 0);
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  font-size: 20px;
  font-weight: 500;
}

.contact-box {
  background-color: white;
  color: black;
  display: flex;
}

.contact-left {
  flex-basis: 60%;
  padding: 20px 60px;
}

.contact-right {
  flex-basis: 40%;
  padding: 40px;
  background-color: rgb(97, 93, 93);
}

.input-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.input-row .input-group {
  flex-basis: 45%;
}

input {
  color: black;
  background-color: white;
  width: 100%;
  font-weight: bold;
  font-size: 18px;
  padding-top: 5px;
  padding-left: 5px;
  border-bottom: 1px solid #ccc;
  outline: none;
  padding-bottom: 5px;
  box-sizing: border-box;
}

textarea {
  color: black;
  background-color: white;
  width: 100%;
  font-weight: bold;
  font-size: 18px;
  border-radius: 4px;
  outline: none;
  padding: 5px;
  box-sizing: border-box;
}

label {
  margin-bottom: 6px;
  display: flex;
  color: white;
  font-size: 23px;
}

button {
  font-size: 20px;
  font-weight: 500;
  width: 140px;
  border-radius: 50px;
  border: none;
  height: 40px;
  color: white;
  outline: none;
  margin: 0 8px;
  background-color: #ba68c8;
  cursor: pointer;
  box-shadow: 0px 5px 15px 1px crimson;
  font-weight: 700;
}

button:hover {
  color: darkgoldenrod;
  background-color: rgb(28, 32, 25);
  font-size: 20px;
  font-weight: 700;
  border: 3px solid black;
  transition: background-color ease-in 0.5s;
}

.contact-left h3 {
  color: #555;
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 10px;
}

/*Right section start form here*/
.contact-right h3 {
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 20px;
}

tr td:first-child {
  padding-right: 20px;
  font-size: 20px;
  font-weight: bold;
}

tr td {
  padding-top: 30px;
  font-size: 18px;
  font-weight: 60 0;
}

.Social {
  margin-top: 80px;
  display: flex;
  align-items: center;
  height: 40px;
  font-size: 20px;
  margin-left: 90px;
  color: black;
}

.Social .icone {
  margin-right: 25px;
}
.Social a:hover {
  font-size: 25px;
  transform: scale(1.1);
  transition: 0.5s;
}
